.app {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  text-align: center;
}

.counter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.count {
  font-size: 8rem;
  font-family: monospace;
  grid-column: 1 / -1;
  width: max-content;
}

button {
  font-size: calc(10px + 2vmin);
}
